<div class="hero beige">
  <div class="container">
    <div class="logo"><a href="/"><img src="/assets/sfhn_logo.jpg" alt="San Francisco Hacker News logo"></a></div>

    <div class="splash">
      <div class="who_we_are">
      San Francisco Hacker News
      </div><!-- /who_we_are -->
      <%= render 'shared/menu' %>
    </div> <!-- /splash -->
    <div class="fb-container">
      <div class="fb-like" data-href="https://www.facebook.com/SFHackerNews" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div> 
    </div><!-- /fb-container -->
  </div>
</div>
