  <div class="sidebar">
    <div class="segment">
      <div class="topic">Find us on</div>
      <div class="body">
        <ul>
          <li><a href="https://www.facebook.com/groups/gosfhn" target="_blank">Facebook Group</a></li>
          <li><a href="https://www.facebook.com/SFHackerNews" target="_blank">Facebook Page</a></li>
          <li><a href="http://twitter.com/sfhackernews" target="_blank">Twitter</a></li>
          <li><a href="http://www.meetup.com/San-Francisco-Hacker-News-Meetup/" target="_blank">Meetup</a></li>
          <li><a href="http://www.linkedin.com/groups/San-Francisco-Hacker-News-4848874?trk=myg_ugrp_ovr" target="_blank">LinkedIn</a></li>
        </ul>
      </div><!-- /body -->
    </div><!-- /segment -->

    <div class="segment">
      <div class="topic">Next event</div>
      <div class="body">
        In approximately 1.5 months -- <br> Stay tuned through our <a href="https://www.facebook.com/groups/gosfhn" target="_blank">facebook</a> and <a href="http://www.meetup.com/San-Francisco-Hacker-News-Meetup/" target="_blank">meetup</a> groups!
      </div>
    </div><!-- /segment -->
    
    <div class="email segment">
      <div class="title">Join the SFHN Newsletter</div>
      <input type="text" name="email" placeholder="Enter your email">
      <div class="footer"> 
        <div class="btn btn-primary">Submit</div>
      </div><!-- /footer -->
    </div><!-- /segment -->
  </div><!-- /sidebar -->

  <div id="email_thanks" class="modal hide fade" tabinde="-1" role="dialog" arialabelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Thanks!</h3>
    </div>
    <div class="modal-body">
      Your email has been added to our newsletter mailing list. :)
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
