<div class="post">
  <div class="head">
    <div class="title">
      <a href="#">Thanks for coming out to our first official SF Hacker News meetup</a>
    </div>
    <div class="date">
      12.01.12
    </div>
  </div><!-- /head -->
  <div class="body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ante neque. Curabitur id est in leo rhoncus mollis sit amet sed mauris. Nullam eu felis et ligula hendrerit tristique. Sed vel felis vel quam gravida posuere in sed velit. Etiam viverra enim quis orci ullamcorper non tristique ipsum consequat. Ut faucibus mauris vel magna imperdiet bibendum id vitae tellus. Ut interdum iaculis purus, non rhoncus arcu semper sed.
    </p>
    <p>
    Phasellus ac eros vitae nunc rhoncus egestas. Morbi consectetur, mi vel interdum suscipit, quam urna tempor risus, eget porttitor tortor ipsum et nisi. Morbi dolor lorem, rhoncus sit amet malesuada id, imperdiet vitae turpis. Nam vel posuere arcu. Proin urna orci, tristique quis consectetur ac, ultricies sed nunc. Nullam faucibus faucibus cursus. Sed adipiscing rhoncus justo, eu pharetra nisl sagittis vitae. Suspendisse potenti. Aliquam sagittis dui sed erat feugiat iaculis. Donec porta sollicitudin eros, non dapibus arcu scelerisque at. Nullam a lorem vitae ligula vehicula cursus ut in nunc. Phasellus lacinia urna ac mauris cursus sed vestibulum sem facilisis. Vestibulum id leo et nisl accumsan sagittis. Nullam placerat rhoncus venenatis. Integer ornare iaculis dolor eget bibendum.
    </p>
  </div><!-- /body -->
  <div class="footer">
    Posted by <a href="http://twitter.com/dpg">Dan P. Gailey</a>
  </div>
</div><!-- /post -->
