<div class="post">
  <div class="head">
    <div class="title">
      <a href="#">Thanks for coming out to our first official SF Hacker News meetup</a>
    </div>
    <div class="date">
      12.01.12
    </div>
  </div><!-- /head -->
  <div class="body">
    <p>
      Thanks to everyone that came out! Our first San Francisco Hacker News meetup was a great success. We had 525 people interested in attending and had around 250-300 HNers cycle in and out of the event throughout the evening. 
    </p>
    <p>
      Thanks again to Matthew Deiters at <a href="http://www.coderwall.com/" target="_blank">Coderwall</a> and the <a href="http://www.getchute.com/">Chute</a> guys for letting us use their office for this first event. 
    </p>
    <p>
      Our next event will be in 1.5 months, as we are now doing these meetups bi-monthly. Thanks again and drop me a line to let me know if you have any recommendations on how I might improve the meetups. <a href="mailto: dan.p.gailey@gmail.com">Here is a link to my email.</a>
    </p>
  </div><!-- /body -->
  <div class="footer">
    Posted by <a href="http://twitter.com/dpg">Dan P. Gailey</a>
  </div>
</div><!-- /post -->
