<div class="events">

  <div class="delimiter">Upcoming events</div>
  <div class="no_events">No upcoming events. Stay tuned, we'll have another in 1.5 months!</div>

  <div class="delimiter">Past events</div>
  <div class="event">
    <div class="head">
      <div class="title">First official San Francisco Hacker News meetup!</div>
    </div>
    <div class="body">
      <div class="info">
        You're invited to the first official San Francisco Hacker News meetup.</br>
        Reserve your tickets here: <a href="http://sfhn.eventbrite.com/">http://sfhn.eventbrite.com/</a><br>
        Refreshments will be provided
      </div>
      <div class="subtitle">When</div>
      <div class="detail">12.01.12 at 6pm until 8pm</div>
      <div class="subtitle">Where</div>
      <div class="detail">Coderwall Offices</div>
    </div><!-- /body -->
  </div><!-- /event -->
</div>
