<div class="about">
  <div class="mission segment">
    <div class="title">
      Our Mission
    </div><!-- /title -->
    <div class="body">
      <p>We want to provide a meetup that helps strengthen the community by fostering networking and communication among the hackernews readers in the San Francisco Bay Area.</p>
      <p>We want to keep meetups pure and simple without much interference or selling by outside companies. We never want people to feel obligated or pressured, and we ultimately want people to have fun at every event.</p>
      <p>If there is anything we can do to make our events better, please let us know by dropping us a line through our email.</p>
    </div><!-- /body -->
  </div><!-- /mission -->

  <div class="people segment">
    <div class="title">
      HN Organizers
    </div>
    <div class="person">
      <div class="head">
        <img src="/assets/dan.jpg" alt="Dan P. Gailey"> 
      </div><!-- /head -->
      <div class="info">
        <div class="name">
          Dan P. Gailey
        </div><!-- /name -->
        <div class="bio">
          Started coding when he was 11, joined a couple of underground hacking/phreaking groups, has degrees in computational chemistry and electrical engineering, and now lives in SF. 
        </div><!-- /bio -->
        <div class="projects">
          <div class="subtitle">Projects</div>
          <ul>
            <li><a href="http://www.goschoolyard.com/" target="_blank">Schoolyard</a></li>
            <li><a href="http://www.higear.com/" target="_blank">Higear</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="footer">
          <ul>
            <li><a href="mailto:dan.p.gailey@gmail.com" target="_blank">email</a></li>
            <li><a href="http://news.ycombinator.com/user?id=lowglow" target="_blank">hackernews</a></li>
            <li><a href="http://www.twitter.com/dpg" target="_blank">twitter</a></li>
            <li><a href="http://www.facebook.com/ctwiz" target="_blank">facebook</a></li>
          </ul>
        </div><!-- /footer -->
      </div><!-- /info -->
    </div><!-- person -->
  </div><!-- /people -->
</div><!-- /about -->
