<body style="margin: 0px; padding: 0px; padding-top: 10px;">
<div class="mail_container" style="background-color: #E4E4E4; padding: 5px; margin: 0 auto; max-width: 600px; font-family: Verdana;">
  <table width="100%" cellpadding="0" cellspacing="0" style="color: #828282">
    <tr class="header" style="background-color: #F6F6EF">
      <td style="padding: 10px;"><img height="50px" width="50px" src="http://sfhackernews.com/assets/sfhn_logo.jpg"></td>
      <td>San Francisco Hacker News<br/><a href="#" style="font-size: 8pt; color: #08C;">visit site</a> <span style="font-size: 8pt">&#183;</span> <a href="#" style="font-size: 8pt; color: #08C">view email in browser</a></td>
    </tr>
    <tr class="main" style="background-color: #FFF;">
      <td style="padding: 10px; vertical-align: top; padding-top: 13px;"><img height="50px" width="50px" src="http://sfhackernews.com/assets/dan.jpg"></td>
      <td style="padding-top: 10px; padding-right: 10px">
        <p style="font-size: 10pt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis venenatis justo, eget dictum felis scelerisque vitae. Ut ut quam velit, a ornare odio. Aenean in ipsum ut risus euismod feugiat. Mauris auctor porta neque. Nunc venenatis, augue vitae congue vulputate, nulla justo consectetur arcu, vel laoreet urna erat eget est. Curabitur sed mauris turpis, eget rhoncus sem. Phasellus leo justo, consequat et fermentum sodales, pharetra dapibus sem. Ut tristique, libero vitae elementum condimentum, nisl nisl egestas lacus, in dapibus mauris libero quis sem. Vestibulum vel lacus ipsum, sit amet semper arcu. Nunc iaculis sapien quis tortor suscipit mollis in ut massa. Aenean ac elit nisl, eu porta neque. Ut lacus ante, porta non luctus eget, vestibulum vel ante. Cras vel neque congue nisl tristique mattis eget non elit.</p>
      </td>
    </tr>
    <tr style="background-color: #FFF">
      <td></td>
      <td style="padding-top: 20px; font-size: 10pt; padding-bottom: 10px;">Best,<br/>Dan P. Gailey<br/>Organizer, SFHN</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding: 10px 0px; color: #BBB">Upcoming Events</td>
    </tr>
    <% 1.upto(2) do %>
    <tr style="background-color: #F8F8F8;">
      <td style="padding: 10px;"><img src="/assets/calendar_icon.png"></td>
      <td style="padding: 10px 10px 10px 0px; font-size: 9pt;">
        <div class="main">
          <div class="title" style="font-size: 12pt; padding-bottom: 5px;"><a style="color: #08C" href="#">SF Hacker News Meetup #2</a></div>
          <div class="body" style="font-size: 10pt;">Come out and meet other people at this super cool event</div>
        </div>
        <div class="info" style="padding-top: 10px; padding-bottom: 5px;">
          December 14th at 8pm at The Roxie near 16th and Valencia, San francisco, CA 
        </div>
        <div class="links">
          <a href="#" style="color: #08C">event page</a> &#183; <a style="color: #08C" href="#">map</a>
        </div>  
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2" style="font-size: 9pt; padding: 10px; text-align: center;">
        <a style="color: #08C" href="#">contact</a> &#183; <a style="color: #08C" href="#">unsubscribe</a>
      </div>
    </tr>
  </table>
</div>
</body>
