<body style="margin: 0px; padding: 0px; padding-top: 10px; font-family: Verdana; background-color: rgb(247, 247, 247);">
<div style="color: #CCC; text-align: center; font-size: 9pt; padding-bottom: 10px;">

Thanks from SFHN

</div>
<div class="mail_container" style="background-color: #E4E4E4; padding: 5px; margin: 0 auto; max-width: 580px; font-family: Verdana; border: 1px solid rgb(219, 219, 219); box-shadow: 0px 0px 5px rgb(231, 231, 231);">
  <table width="100%" cellpadding="0" cellspacing="0" style="color: #828282">
    <tr class="header" style="background-color: #F6F6EF">
      <td style="padding: 10px; border-bottom: 1px solid #EBEBEB;"><img height="50px" width="50px" src="http://sfhackernews.com/assets/sfhn_logo.jpg"></td>
      <td style="border-bottom: 1px solid #EBEBEB;">San Francisco Hacker News<br/><a href="http://www.sfhackernews.com/" target="_blank" style="font-size: 8pt; color: #08C;">visit site</a> <span style="font-size: 8pt">&#183;</span> <a href="http://www.sfhackernews.com/campaign/4" style="font-size: 8pt; color: #08C" target="_blank">view email in browser</a></td>
    </tr>
    <tr class="main" style="background-color: #FFF;">
      <td style="padding: 10px; vertical-align: top; padding-top: 13px;"><img height="50px" width="50px" src="http://sfhackernews.com/assets/dan2.jpg"></td>
      <td style="font-size: 10pt; padding-top: 10px; padding-right: 10px">
        <h4>Hi SFHNers!</h4>

        <p>If you were able to make it out to the last meetup, I just wanted to say thank you all for making the event such a great time. I hope everyone got everything they wanted out of it and more.</p>

        <p>I'd really like to get everyone's opinion on how the meetups are going and what we might be able to do to make them better. I've set up a quick survey to get some feedback, so if you have a moment head over and fill it out: <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFh0eldrYWprdmhWM1B5WXVud3d2TlE6MQ#gid=0" target="_blank">Quick meeting survey</a></p>

        <p>Thanks to everyone that volunteered, it was totally essential for making this meetup rock.</p>

        <p>A big, big thanks to our amazing sponsors:<br> <a href="http://foundersden.com/" target="_blank">Founders Den</a> / <a href="http://beta.nuzzel.com/passion" target="_blank">Nuzzel</a> / <a href="http://twilio.com/" target="_blank">Twilio</a> / <a href="http://valleyanon.com/" target="_blank">#ValleyAnon</a>
        </p>

        <h4> SFHN Presents: A Movie </h4>

        <p>We're going to have another movie soon. YAY! Now we need your vote to decide what we're going to see, so <a href="https://www.facebook.com/groups/gosfhn/">join our facebook group</a> and <a href="https://www.facebook.com/groups/gosfhn/permalink/280611742065813/" target="_blank">vote on a movie!</a>
        </p>

        <h4> Sponsors wanted </h4>

        <p>We're looking for wonderful sponsors for our next meetup. Food, drinks, space for 200+ people. <a href="mailto:dan.p.gailey@gmail.com" target="_blank">Email me</a> if you're interested in helping out the community.</p>
      </td>
    </tr>
    <tr style="background-color: #FFF">
      <td></td>
      <td style="padding-top: 20px; font-size: 10pt; padding-bottom: 20px;">
        Best,<br/>Dan P. Gailey<br/>Organizer, SFHN<br/>
        <a href="http://www.twitter.com/dpg" style="color: #08C" target="_blank">Tw</a> &#183; <a href="http://www.facebook.com/ctwiz" style="color: #08C" target="_blank">Fb</a> &#183; <a href="mailto:dan.p.gailey@gmail.com" style="color: #08C" target="_blank">Em</a> &#183; 415.583.5403
      </td>
    </tr>
    <tr>
      <td></td>
      <td style="padding: 10px 0px; color: #BBB">Upcoming Events</td>
    </tr>
    <tr style="background-color: #F8F8F8;">
      <td style="padding: 10px;"><img src="/assets/calendar_icon.png"></td>
      <td style="padding: 10px 10px 10px 0px; font-size: 9pt;">
        <div class="main">
          <div class="title" style="font-size: 12pt; padding-bottom: 5px;"><a style="color: #08C" href="http://startupgrind.com/2013/" target="_blank">Startup Grind 2013</a></div>
          <div class="body" style="font-size: 10pt;">
        <p>
          Our good friend <a href="https://twitter.com/Franciscocrz" target="_blank">Francisco Cruz</a> (Who you might have met checking you in at the SFHN event on Thursday) works with <a hrf="http://startupgrind.com/">Startup Grind</a> and it looks like it might be pretty neat. </p>
        <p> I especially like this: "No pitching and no panels. Just founders teaching and helping each other." It sounds like a cool no b.s. experience -- <a href="http://twitter.com/dpg" target="_blank">ping me</a> if you're interested because I think they might be offering SFHNers discounted tickets. </p>
        <p>Otherwise you can just buy your tickets here: <a href="http://sg2013.eventbrite.com/" target="_blank">http://sg2013.eventbrite.com/</a></p>
          </div>
        </div>
        <div class="info" style="padding-top: 10px; padding-bottom: 5px;">
         Tuesday, February 5, 2013 at 7:00 AM - Wednesday, February 6, 2013 at 5:00 PM (PST) @ Computer History Museum - 1401 N Shoreline Blvd, Mountain View, CA 94043 
        </div>
        <div class="links">
          <a href="http://sg2013.eventbrite.com/" style="color: #08C">event page</a> 
        </div>  
      </td>
    </tr>
    <tr>
      <td colspan="2" style="font-size: 9pt; padding: 10px; text-align: center;">
        <a target="_blank" style="color: #08C" href="mailto:dan.p.gailey@gmail.com">contact</a> &#183; <a style="color: #08C" href="mailto:dan.p.gailey@gmail.com?subject=unsubscribe&body=I+love+you,+but+please+unsubscribe+me,+Dan." target="_blank">unsubscribe</a>
      </td>
    </tr>
  </table>
</div>
</body>
